<div class="mainContaier top clearfix">
  <div class="topPage title">Tweet Site 2018</div>
  <div class="topPage sub-title">日々思っていること、ふと感じたこと、気軽に何でもツイートしちゃって下さい</div>
  <div class="page-link toBlogIndex">
    <%= link_to "投稿一覧へ", tweets_path, class: 'btn btn-warning' %>
  </div>
</div>
